@model DemoAuthentication.Entities.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<h3>Checking the hash Password functionality</h3>

<div>
    <form asp-action="CheckHashPassword">
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign in" class="btn btn-primary" />
        </div>

    </form>
</div>